/.idea/
/target/classes/eu/antonkrug
/target/maven-status/
/target/maven-archiver/
/target/dependency-jars/
/target/classes/filters/
/target/classes/fonts/
/target/osd-font-converter-preview/
/target/*.jar
/target/*.zip
/*.png
/*.mcm